@use 'src/styles/_vars';

#visite {
  .visite {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: black;
    position: relative;
    
    .picture {
      height: calc(100vh - vars.$header);
      width: fit-content;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      img {  
        max-height: 100%;
        max-width: 100%;
      }

      .info {
        position: absolute;
        // border: 2px solid orangered;
        border-radius: 100%;

        &:hover, &:focus {
          border: 3px solid black;
          cursor: pointer;
          background-color: rgba(255, 255, 255, 0.222);
          animation: viewPaint infinite 1s 1s ease-in-out;
        }
      }

      // .tableau {
      //   height: calc(115 * 100% / 837);
      //   width: calc(75 * 100% / 627);
      //   right: calc(30 * 100% / 627);
      //   top: calc(330 * 100% / 837);
      //   border: 2px solid blue;
      // }
    }

    .arrow {
      position: absolute;

      .pointe {
        border-bottom: 20px solid transparent;
        border-top: 20px solid transparent;
      }

      .bout {
        background: rgb(152, 152, 152);
        height: 20px;
        width: 50px;
        margin: auto;
      }
    }

    .turn-left {
      bottom: 30%;
      left: 5%;
      display: flex;

      @media (max-width: vars.$medium) {
        bottom: 15%;
      }

      @media (min-width: vars.$large) {
        left: 15%;
      }

      @media (min-width: vars.$big) {
        left: 25%;
      }

      .pointe {
        border-right: 30px solid rgb(152, 152, 152);
      }

      &:hover, &:focus {
        .pointe {
          border-right-color: white;
          animation: arrowLeftMove 1.2s infinite linear;
        }

        .bout {
          background: white;
          animation: arrowLeftMove 1.2s infinite linear;
        }
      }
    }

    .turn-right {
      bottom: 30%;
      right: 5%;
      display: flex;

      @media (max-width: vars.$medium) {
        bottom: 15%;
      }

      @media (min-width: vars.$large) {
        right: 15%;
      }

      @media (min-width: vars.$big) {
        right: 25%;
      }

      .pointe {
        border-left: 30px solid rgb(152, 152, 152);
      }

      &:hover, &:focus {
        .pointe {
          border-left-color: white;
          animation: arrowRightMove 1.2s infinite linear;
        }

        .bout {
          background: white;
          animation: arrowRightMove 1.2s infinite linear;
        }
      }
    }

    .go-forward {
      bottom: 160px;
      left: calc(50% - 25px);
      border-radius: 100%;
      height: 40px;
      width: 70px;
      border: 5px solid rgb(152, 152, 152);
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: vars.$medium) {
        bottom: 10%;
      }

      .intern-go {
        background: rgb(152, 152, 152);
        border-radius: 100%;
        width: 70%;
        height: 70%;
      }

      &:hover, &:focus {
        border-color: white;
        animation: move 1.2s infinite linear;

        .intern-go {
          background: white;
        }
      }

      &:active {
        box-shadow: 0 4px 4px 3px black;
      }
    }
  }

  .welcome-modal {
    position: fixed;
    top: 0;
    width: 100%;
    height: calc(100% - vars.$header);
    margin-top: vars.$header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .explication-text {
      background-color: rgba(255, 255, 255, 0.811);
      font-size: 1.2rem;
      text-align: left;
      margin-bottom: 6rem;
      padding: 1rem;
      line-height: 1.5rem;
      border-radius: vars.$boxBorderRadius;
      width: fit-content;
      
      ul {
        list-style: disc;
        margin-left: 0.8rem;
        li:not(:last-child) {
          margin-bottom: 0.8rem;
        }
      }
    }
  
    button {
      background-color: white;
      border: vars.$boxBorder;
      border-radius: vars.$boxBorderRadius;
      padding: 1rem 2rem;
      font-size: 1.1rem;
  
      @media (min-width: vars.$medium) {
        font-size: 1.2rem;
      }
  
      @media (min-width: vars.$inter) {
        font-size: 1.3rem;
      }
  
      &:hover, &:focus {
        background-color: vars.$thirdColor;
      }
  
      &:active {
        color: vars.$textHoverColor;
        background-color: black;
      }
    }
  }
}

@keyframes move {
  50% {
    transform: scale(1.3);
  }
}

@keyframes arrowLeftMove {
  50% {
    transform: translateX(-15px);
  }
}

@keyframes arrowRightMove {
  50% {
    transform: translateX(15px);
  }
}

@keyframes viewPaint {
  50% {
    transform: scale(1.1);
  }
}
